<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>

<body>
    <div class="main bg-zinc-900 h-screen w-screen gap-4 p-10">
        <a class="text-blue-500 inline-block mb-5" href="/">Back To Tasks</a>
        <h1 class="text-3xl text-white font-bold mb-4"><%= filename %></h1>
        <p class="text-white text-lg"><span class="text-green-600 text-lg font-bold">File Data : </span><%= filedata %></p>
    </div>
    
</body>

</html>